body{
  font-family: 'Montserrat', sans-serif;
  background-image: radial-gradient(circle at 46.86% 85.89%, #399f9f 0, #378c90 12.5%, #37777d 25%, #356066 37.5%, #31474c 50%, #2a3032 62.5%, #211d1b 75%, #190900 87.5%, #0f0000 100%);
  text-shadow: 8px 6px 7px #211d1b;
}

.encabezado{
  text-align: center;
  margin: 5rem;
}

.encabezado__titulo{
  font-size: 5rem;
}

.contenedor__main{
  display: flex;
  justify-content: center;
  column-gap: 6rem;
}

.titulo__encriptador, .mensaje__encriptado__titulo{
  text-align: center;
  margin-bottom: 1.2rem;
}

.titulo__encriptador__texto, .mensaje__encriptado__titulo__texto{
  font-size: 1.9rem;
  font-weight: bold;
}

.estilo__textarea{
  background-image: radial-gradient(circle at 20.17% 44.74%, #247a6b 0, #1c6960 16.67%, #185552 33.33%, #174040 50%, #152c2d 66.67%, #121b1c 83.33%, #090a0a 100%);
  box-sizing: border-box;
  box-shadow: 8px 6px 7px #211d1b;
  font-size: 1.3rem;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  padding: 1rem;
  outline: none;
  resize: none;
}

.encriptador__botones, .mensaje__encriptado__botones{
  display: flex;
  justify-content: space-around;
}

.estilo__botones{
  box-shadow: 8px 6px 7px rgb(12, 11, 11);
  border: 1px black solid;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  opacity: 0.6;
  font-weight: bold;
}

.estilo__botones:hover{
  border-color: #e2e2e2;
}

.estilo__botones:active{
  border-color: black;
}

.footer{
  height: 200px;
  background: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__imagen{
  width: 100px;
  box-shadow: -1px -1px 1px 1px rgb(48, 47, 47);
}

.footer__leyenda{
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
}

.encriptador__textarea, .mensaje__encriptado__textarea{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.encriptador__alerta{
  font-weight: bold;
  padding: 0.2rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  box-shadow: 8px 6px 7px #211d1b;
  background: red;
}

.mensaje__encriptado__alerta{
  font-weight: bold;
  padding: 0.2rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  box-shadow: 8px 6px 7px #211d1b;
  width: 200px;
  background: green;
}

.mensaje__encriptado____imagen{
  box-sizing: border-box;
  box-shadow: 8px 6px 7px #211d1b;
  border-radius: 10px;
  height: 500px;
  width: 400px;
}

.ocultar{
  display: none;
}

.visibilidad{
  visibility: hidden;
}