body{
    font-family: 'Montserrat', sans-serif;
    background-image: radial-gradient(circle at 46.86% 85.89%, #399f9f 0, #378c90 12.5%, #37777d 25%, #356066 37.5%, #31474c 50%, #2a3032 62.5%, #211d1b 75%, #190900 87.5%, #0f0000 100%);
    text-shadow: 8px 6px 7px #211d1b;
}

main{
    width: 940px;
    margin: 0 auto;
    display: flex;
}

.titulo{
    text-align: center;
    font-size: 50px;
    margin: 1em;
}

h2{
    text-align: center;
    font-size: 25px;
    margin: 1em;
    font-weight: bold
}

.marco-imagen{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
   
    color: white;
}

.imagen-elegida{
    border-radius: 10px;
    height: 494px;
    width: 381px;
    box-shadow: 8px 6px 7px #211d1b;
    opacity: 0.7;
}

.area-encriptado, #imagen2, #idtextArea{
    float: left;
    margin:  1em;
}

.area-texto{
    background-image: radial-gradient(circle at 20.17% 44.74%, #247a6b 0, #1c6960 16.67%, #185552 33.33%, #174040 50%, #152c2d 66.67%, #121b1c 83.33%, #090a0a 100%);
    border: 2px black solid;
    border-radius: 10px;
    padding:15px;
    font-size: 20px;
    box-shadow: 8px 6px 7px #211d1b;
}


.boton, #copiarTexto{
    margin: 1em;
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
    opacity: 0.6;
    box-shadow: 8px 6px 7px rgb(12, 11, 11);
    cursor: pointer;
   
}


.boton:hover{
    border-color: #e2e2e2;
   
}

#copiarTexto:hover{
    border-color: #e2e2e2;
}

.boton:active{
    border-color: black;
}

#copiarTexto:active{
    border-color: black;
}

.oculto{
    display: none;
}


.logo{
    width: 100px;
    box-shadow: -1px -1px 1px 1px rgb(48, 47, 47);
}

footer{
    text-align: center;
    background: #181818;
    padding: 50px;
  }

.leyenda{
    padding: 1em;
    color: white;
    font-size: 15px;
}